[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OralOpioids"]
	path = OralOpioids
	url = https://github.com/ankonahouston/oralopioids
